<div id="result">
	<h1>D&rsquo;oh; something went wrong here&hellip;</h1>
	<p>Try resizing another image, &amp; let&rsquo;s hope for the best!</p>
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>