<div id="result">
	<h1>D&rsquo;oh; we deleted that photo (or just can&rsquo;t find it)&hellip;</h1>
	<!--<p>In order to save precious bytes for other peeps, <strong>we had to derezz that file.</strong></p>-->
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>