<% ua = request.env['HTTP_USER_AGENT'].downcase %>
<%#= ua %>
<!DOCTYPE html>
<html<% if ua.index('mobile') || ua.index('webos') %> class="m"<% end %>>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>resiz.io</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<!--[if lt IE 9]><link href='/assets/ie.css' rel='stylesheet' type='text/css' /><![endif]-->
	
	<link href="//get.pictos.cc/fonts/397/14" rel="stylesheet" type="text/css" />
	<%= javascript_include_tag "jquery", "app" %>
	<%= csrf_meta_tags %>
	<%
	url = request.url.split(':')
	if url[1] != '//localhost'
	%>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-38631108-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
	<% end %>
</head>
<body>
	<section>
		<h1>
			<span class="ion-images"></span>
			resiz<em>.io</em>
		</h1>
		<%= yield %>
		<a href="" class="meta" id="meta">about</a>
		<div class="aboutsss" id="aboutsss">
			<div>
				<div>
					<h2>A bit about resiz.io:</h2>
					<p>I&rsquo;ve run into many instances whilst in the web world where clients don&rsquo;t have access to Photoshop, or anything similar, so they can&rsquo;t resize images easily, or at all. So, I wanted to build a super-simple app that does just that, and that&rsquo;s <strong>fun, sleek, and, most of all, fast</strong>. You can use JPEGs, PNGs, GIFs and TIFFs with this. <em>Enjoy!</em></p>
					<hr />
					<p>Built with Ruby on Rails using Paperclip, HTML, CSS &amp; a bit of JavaScript. Made by <a href="http://twitter.com/jefffis" target="_blank">@jefffis</a>, and tutelage provided by <a href="http://justinwindholtz.com" target="_blank">Wustin</a>. Any feedback you have, <a href="mailto:iam@jefff.co">I&rsquo;d love to hear it!</a></p>
					<span>hide</span>
				</div>
			</div>
		</div>
	</section>
</body>
</html>